<!-- <div>
  <a routerLink="/">Home</a>
  <a routerLink="addPost">Add Post</a>
  <a routerLink="register">Register</a>
</div>
<router-outlet></router-outlet> -->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="addPost">Add Post</a></li>
      <li><a routerLink="register">Register</a></li>
      <li><a routerLink= "byUser">Post By User</a></li>
      <li><a routerLink="signup">Sign up</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>